// Import the mixins
@import '_helper';

// All the aspects
@import '_nav';
@import '_base';
@import '_about';
@import '_projects';
@import '_connect';
@import '_footer';

/**
* Content
*/
.content {
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  @include direction(column);

  .about {
    width: 70%;
    text-align:center;
  }

  .projects {
    width: 100%;
    background-color: $accent-color;
    color: white;
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    @include direction(column);
  }

  .connect {
    width: 100%;
    text-align:center;
  }
}

.flex-center-container {
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  @include flex-wrap(wrap);
}
