
// Import the colour scheme
@import 'scheme';
// Import the mixins
@import 'mixins';

// Styles the selection across the entire page
::selection {
  background: $primary-color;
}

.nav-bar-live {
  background: rgba(60, 60, 60, 1);
}

.sticky-footer {
  position:fixed;
  display:none;
  bottom:0;
  z-index: 501;
  width:100%;
  @include flexbox();
  @include justify-content(flex-end);
  a {
    margin-right:96px;
    display: block;
    color:white;
    background: rgba(0, 0, 0, 0.5);

    text-align: center;

    height:45px;
    width:90px;
    border-radius: 90px 90px 0 0;
    -moz-border-radius: 90px 90px 0 0;
    -webkit-border-radius: 90px 90px 0 0;

    text-decoration: none;
    font-size:32px;
  }
  a:hover {
    background: $primary-color;
    color:black;
  }
}

.main-nav {
  position:fixed;
  width:100%;
  z-index: 500;

  ul {
    @include flexbox();
    @include justify-content(flex-end);
    background: rgba(60, 60, 60, 0.5);
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
  }

  .logo {
    margin-right:auto;
    font-size: 3em;
    color: $primary-color;
    background-color: $secondary-color;
    @include rounded-border(50%);
  }

  a {
    font-size: 1.2em;
    display: block;
    color: white;
    padding: 1em;
    text-decoration: none;
  }

  a:hover, a.active, a:active {
    background-color: $primary-color;
    color: $secondary-color;
  }
}

.video {
  position: relative;
  top: 50%;
  left: 50%;
  width: 100%;

  z-index: -100;
  @include transform(translateX(-50%), translateY(0%));
}

.video-container {
  position: relative;
  overflow: hidden;
}

.profile {
  @include flexbox();
  @include justify-content(center);
  @include align-items(center);
  position: absolute;
  top: calc(50% - 64px);
  width:100%;
  background-color: rgba(0, 0, 0, .4);
  text-align: center;

  img {
    @include rounded-border(50%);
    display: inline-block;
    margin: 8px;
    width: 128px;
  }

  .details {
    display:inline;
    margin: 8px;
    padding: 0;
  }

  h1, h2 {
    color: white;
    margin: 0;
    padding: 0;
  }
}

.next-nav {
  position: absolute;
  top: calc(80% - 16px);
  width:100%;

  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  text-align: center;

  button {
    background-color: rgba(0,0,0,.4); /* Transparent */
    color: white;
  }
}

/**
* Content
*/
.content {
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  @include direction(column);

  .about {
    width: 70%;
    text-align:center;
  }

  .projects {
    width: 100%;
    background-color: $accent-color;
    color: white;
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    @include direction(column);
  }

  .connect {
    width: 100%;
    text-align:center;
  }
}

.skills-container {
  .skills-card {
    width:300px;
    margin:8px;

    img {
      height: calc(64px);
      width: calc(64px);
    }
  }
}

.flex-center-container {
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  @include flex-wrap(wrap);
}


.projects-container {
  margin-bottom: 32px;
  .project-card {
    background: $secondary-color;
    width: 27.5%;
    min-width: 260px;
    padding: 16px;
    margin: 16px;
    border: 2px solid $primary-color;
    background-size: auto;

    button {
      color: white;
      margin: 8px;
      background-color: rgba(0,0,0,.4);
    }

    button:hover {
      background-color: $primary-color;
      color: $secondary-color;
    }

    p, h2 {
    }

  }
}

.projects-details {
  text-align:center;
  width:50%;
}

.social-nav {
  ul {
    @include flexbox();
    @include justify-content(center);
    @include flex-wrap(wrap);

    margin: 0;
    padding: 0;
    width: 100%;
  }

  li {
    list-style-type: none;
    margin:32px;
  }

  a {
    @include rounded-border(7.5%);

    font-size: 1.2em;
    display: block;
    color: white;
    padding: 1em;
    text-decoration: none;

    img {
      width:64px;
      height:64px;
    }
  }

  a:hover {
    background-color: $primary-color;
  }
}

.footer {
  @include flexbox();
  @include justify-content(center);
  @include align-items(center);
  @include direction(column);

  height: 200px;
  width: 100%;
  text-align:center;
  background-color: $secondary-color;
  color: white;
  a {
    color: $primary-color;
  }
}
