/** Scheme.scss
 * the schema to use
 */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
::selection {
  background: #e8cf22; }

.nav-bar-live {
  background: #3c3c3c; }

.sticky-footer {
  position: fixed;
  display: none;
  bottom: 0;
  z-index: 501;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end; }
  .sticky-footer a {
    margin-right: 96px;
    display: block;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    height: 45px;
    width: 90px;
    border-radius: 90px 90px 0 0;
    -moz-border-radius: 90px 90px 0 0;
    -webkit-border-radius: 90px 90px 0 0;
    text-decoration: none;
    font-size: 32px; }
  .sticky-footer a:hover {
    background: #e8cf22;
    color: black; }

.main-nav {
  position: fixed;
  width: 100%;
  z-index: 500; }
  .main-nav ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    justify-content: flex-end;
    background: rgba(60, 60, 60, 0.5);
    margin: 0;
    padding: 0; }
  .main-nav li {
    list-style-type: none; }
  .main-nav .logo {
    margin-right: auto;
    font-size: 3em;
    color: #e8cf22;
    background-color: #3c3c3c;
    border: 2px solid #e8cf22;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
  .main-nav a {
    font-size: 1.2em;
    display: block;
    color: white;
    padding: 1em;
    text-decoration: none; }
  .main-nav a:hover, .main-nav a.active, .main-nav a:active {
    background-color: #e8cf22;
    color: #3c3c3c; }

.video {
  position: relative;
  top: 50%;
  left: 50%;
  width: 100%;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(0%);
  -moz-transform: translateX(-50%) translateY(0%);
  -ms-transform: translateX(-50%) translateY(0%);
  transform: translateX(-50%) translateY(0%); }

.video-container {
  position: relative;
  overflow: hidden; }

.profile {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -align-items: center;
  position: absolute;
  top: calc(50% - 64px);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center; }
  .profile img {
    border: 2px solid #e8cf22;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: inline-block;
    margin: 8px;
    width: 128px; }
  .profile .details {
    display: inline;
    margin: 8px;
    padding: 0; }
  .profile h1, .profile h2 {
    color: white;
    margin: 0;
    padding: 0; }

.next-nav {
  position: absolute;
  top: calc(80% - 16px);
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  text-align: center; }
  .next-nav button {
    background-color: rgba(0, 0, 0, 0.4);
    /* Transparent */
    color: white; }

/**
* Content
*/
.content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  -moz-box-direction: column;
  flex-direction: column; }
  .content .about {
    width: 70%;
    text-align: center; }
  .content .projects {
    width: 100%;
    background-color: #E86850;
    color: white;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -moz-box-direction: column;
    flex-direction: column; }
  .content .connect {
    width: 100%;
    text-align: center; }

.skills-container .skills-card {
  width: 300px;
  margin: 8px; }
  .skills-container .skills-card img {
    height: calc(64px);
    width: calc(64px); }

.flex-center-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap; }

.projects-container {
  margin-bottom: 32px; }
  .projects-container .project-card {
    background: #3c3c3c;
    width: 27.5%;
    min-width: 260px;
    padding: 16px;
    margin: 16px;
    border: 2px solid #e8cf22;
    background-size: auto; }
    .projects-container .project-card button {
      color: white;
      margin: 8px;
      background-color: rgba(0, 0, 0, 0.4); }
    .projects-container .project-card button:hover {
      background-color: #e8cf22;
      color: #3c3c3c; }

.projects-details {
  text-align: center;
  width: 50%; }

.social-nav ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%; }
.social-nav li {
  list-style-type: none;
  margin: 32px; }
.social-nav a {
  border: 2px solid #e8cf22;
  border-radius: 7.5%;
  -webkit-border-radius: 7.5%;
  -moz-border-radius: 7.5%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-size: 1.2em;
  display: block;
  color: white;
  padding: 1em;
  text-decoration: none; }
  .social-nav a img {
    width: 64px;
    height: 64px; }
.social-nav a:hover {
  background-color: #e8cf22; }

.footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -align-items: center;
  -webkit-flex-direction: column;
  -moz-box-direction: column;
  flex-direction: column;
  height: 200px;
  width: 100%;
  text-align: center;
  background-color: #3c3c3c;
  color: white; }
  .footer a {
    color: #e8cf22; }

/*# sourceMappingURL=main.css.map */
