/** Scheme.scss
 * the schema to use
 */

 // Import font
 @import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

 $primary-color: #e8cf22;
 $secondary-color: #3c3c3c;
 $accent-color: #E86850;
