@()

<!DOCTYPE html>

<html>
    <head>
        <title>Luke</title>
        <script type="text/javascript" src=@routes.Assets.at("javascripts/navigation.js")></script>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/base.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
<!-- The main nav section -->
<nav class="main-nav">
    <ul>
        <li class="logo">LC</li>
        <li><a href="javascript:undefined" id="about-nav">About</a></li>
        <li><a href="javascript:undefined">Projects</a></li>
        <li><a href="javascript:undefined">Connect</a></li>
    </ul>
</nav>
<header>
        <!-- The video section -->
    <div class="video-container">
        <div class="profile">
            <img class="picture" src="@routes.Assets.at("images/profile.jpg")" alt="A Picture of Luke Collier"/> <!-- Circular bound image of me faice -->
            <div class="details">
                <h1>Luke Collier</h1>
                <h2>Student</h2>
            </div>
        </div>
            <!-- The video section -->
        <video class="video" autoplay loop>
            <source src="@routes.Assets.at("videos/background-video.mp4")" type="video/mp4">
            <source src="@routes.Assets.at("videos/background-video.webm")" type="video/webm">
            <source src="@routes.Assets.at("videos/background-video.ogv")" type="video/ogg">
            <img src="@routes.Assets.at("videos/background-video.jpg")"
            title="Your browser does not support the video tag.">
        </video>
            <!-- The nav section -->
        <div class="next-nav">
            <a href="#about">
                <button type="button">Continue</button> <!-- Is going to go down to the next nav element -->
            </a>
        </div>
    </div>
</header>
    <!-- The content section -->
<div class="content">
        <!-- The about section -->
    <div class="about">
        <h1 id="about">About</h1>
        <p>Hello, I'm Luke a developer from Manchester. I've always carried a passion for computers and their magic mysteries... Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <button type="button">Open CV	&#10063;</button>

            <!-- Java, Lua, Android, C++, Computer Vision, HTML5, CSS-->
        <h1>Skills</h1>
        <p>Here are some of the technologies and skills I am familiar with</p>
        <div class="skills-container flex-center-container">
            <div class="skills-card">
                <img src="@routes.Assets.at("images/icons/java-icon.svg")" alt="Java"/>
                <h2>Java</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="skills-card">
                <img src="@routes.Assets.at("images/icons/scala-icon.svg")" alt="Scala"/>
                <h2>Scala</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="skills-card">
                <img src="@routes.Assets.at("images/icons/html5-icon.svg")" alt="HTML5"/>
                <h2>HTML5 Stack</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="skills-card">
                <img src="@routes.Assets.at("images/icons/android-icon.svg")" alt="Android"/>
                <h2>Android Development</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="skills-card">
                <img src="@routes.Assets.at("images/icons/security-icon.svg")" alt="Security"/>
                <h2>Security Knowledge</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="skills-card">
                <img src="@routes.Assets.at("images/icons/game-icon.svg")" alt="Game Development"/>
                <h2>Game Development</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>

        </div>
            <!-- Do some fancy logos and shit of the technologies you know -->
    </div>
        <!-- The projects section -->
    <div class="projects">
        <div class="projects-details">
            <h1 id="projects">Projects</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="projects-container flex-center-container">
            @card("Project 1")("Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
            @card("Project 2")("Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
            @card("Project 2")("Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
            @card("Project 4")("Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
        </div>
    </div>
        <!-- The connect section -->
    <div class="Connect">
        <h1 id="Connect">Connect</h1>
        <p>You can find me on most social media</p>
        <nav class="social-nav"><!-- All the links to my social medias, should link to website somehow -->
            <ul>
                <li><a><img src="@routes.Assets.at("images/icons/facebook-icon.svg")" alt="Facebook"/></a></li>
                <li><a><img src="@routes.Assets.at("images/icons/linkedin-icon.svg")" alt="LinkedIn"/></a></li>
                <li><a><img src="@routes.Assets.at("images/icons/twitter-icon.svg")" alt="Twitter"/></a></li>
                <li><a><img src="@routes.Assets.at("images/icons/google+-icon.svg")" alt="Google+"/></a></li>
                <li><a href="https://github.com/TheLionDuke" target="_blank">
                    <img src="@routes.Assets.at("images/icons/github-icon.svg")" alt="Github"/>
                </a></li>
                <li><a><img src="@routes.Assets.at("images/icons/gmail-icon.svg")" alt="G-mail"/></a></li>
            </ul>
        </nav>
    </div>
</div>
    <!-- The footer -->
<footer>
    <div class="footer">
        <p>Luke Collier &copy; 2017</p>
        <p>Stock Images: <a href="http://plainicon.com/">http://plainicon.com/</a></p>
        <p>Stock Videos: <a href="http://www.coverr.co/">http://www.coverr.co/</a></p>
    </div>
</footer>
            </body>
            </html>